# Environment configuration for the application
PORT=4000
NODE_ENV=development

# Database connection string
DATABASE_URL=

#Verification token expiration times
VERIFICATION_TOKEN_EXP=1d

# JWT configuration
JWT_ACCESS_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key

# JWT expiration times
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Cookie settings
COOKIE_HTTP_ONLY=true
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

# Client origin for CORS
CLIENT_ORIGIN=http://localhost:3000

# Logging level
LOG_LEVEL=info

# Email service configuration
EMAIL_USERNAME=
EMAIL_PASSWORD=